<!--
This template displays the admin panel where the admin can
edit the accounts of all users.
-->
<template name="adminPage">
	<div class="wrapper adminPage">
    <div class="container">

		<!--
		Create the Remove Modal.
		-->
		<div id="removeDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
			<div class="modal-header">
				<a href="#" class="close removeCancelButton" data-dismiss="modal">&times;</a>
				<h4>Delete</h4>
			</div>
			<div class="modal-body">
				<div class="divDialogElements">
					Are you sure you want to remove this user?
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn removeCancelButton">Cancel</a>
				<a href="#" class="btn btn-primary removeOkButton">OK</a>
			</div>
		</div>

		<!--
		Create the page itself.
		-->
		<div class="well well-large">
			<legend>Users</legend>

			<table class="usersTable" class="table">
				<thead>
					<tr>
						<td>Emailadres</td>
						<td>Full Name</td>
						<td>Password</td>
						<td>Role</td>
						<td>Type</td>
						<td>Verified</td>
					</tr>
					<tr>
						<td>
							<input id="emailField" type="text" class="textfield" disabled></input>
						</td>
						<td>
							<input id="nameField" type="text" class="textfield"></input>
					 	</td>
					 	<td>
							<input id="passwordField" type="text" class="textfield"></input>
				  		</td>
						<td>
							<select id="roleField" class="dropdown">
								<option value=""></option>
								{{#each role}}
									<option value="{{this.name}}">{{this.name}}</option>
								{{/each}}
							</select>
				  		</td>
				  		<td>
							<input id="typeField" type="text" class="textfield" disabled></input>
				  		</td>
				  		<td>
							<select id="verifiedField" class="dropdown">
								<option value=""></option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select>
						</td>
						<td>
							<button class="btn btn-default btn-xs saveButton">Save</button>
							<button class="btn btn-default btn-xs cancelButton">Cancel</button>
						</td>
					</tr>
				</thead>
				<tbody>
					{{#each user}}
							<tr>
							<td>{{getAddress this}}</td>
							<td>{{getName this}}</td>
							<td></td>
							<td>{{this.roles}}</td>
							<td>{{getType this}}</td>
							<td>{{getVerified this}}</td>
							<td>
								<button class="btn btn-default btn-xs editButton"><i class="icon-edit"></i></button>
								<button data-toggle="modal" href="#removeDialog" class="btn btn-default btn-xs removeButton"><i class="icon-remove"></i></button>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
  </div>
	</div>
</template>