<template name='formsList'>
  <div class='wrapper formsList'>
    <div class='container'>

      {{initialize}}

      <div class="hero-unit">
        <h1>{{formlabel}}</h1>

        {{#if isLocationBound}}
          {{#if isLocalUser}}
            <input type='hidden' id='static_location' value='{{userlocation}}'>
          {{else}}
            <div class='control-group'>
              <label class='control-label'>Location:</label>
              <div class='controls'>
                <select id='static_location'>
                  <option value=''>--Select Location--</option>
                  {{#each location}}
                    <option value='{{this.id}}'>{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          {{/if}}
        {{/if}}

        <div class="table">
          <div class="row header"> 
            <div class="cell"><span>Year</span></div>
            <div class="cell"><span>Month</span></div>
            <div class="cell"><span>Status</span></div>
            <div class="cell"><span>Goal Reached</span></div>
            <div class="cell"></div>
          </div>

          <div id="body"></div>
          
        </div>
      </div>

    </div>
  </div>
</template>
