<template name="navigationbar">
  <!-- Navigation bar specifics -->
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{pathFor 'home'}}"><img src="/ctt-transparant.png"/></a>
        <div class="nav-collapse">
          <ul class="nav">

            <li class="{{active}}"><a href="{{pathFor 'home'}}"><i class="fa fa-home"></i> Home</a></li>

            {{#if currentUser}}
              <li class="{{active}}"><a href="{{pathFor 'revenues'}}"><i class="fa fa-eur"></i> Revenues</a></li>
               <li class="{{active}}"><a href="{{pathFor 'moves'}}"><i class="fa fa-truck"></i> Moves</a></li>
              <li class="{{active}} dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tachometer"></i> Performance<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/performance/mph">Moves per manhour</a></li>
                  <li><a href="/performance/kwhfactor">KwH Factor</a></li>
                  <li><a href="/performance">Synchromodal Factor</a></li>
                  <li><a href="/performance/dieselfactor">Diesel Factor</a></li>
                  <li><a href="/performance/kgco2move">Kg Co2_eq per move</a></li>
                  <li><a href="/performancekgco2terminal">Kg Co2_eq Terminal operation</a></li>
                  <li><a href="/performance/kwhmove">KwH per Move</a></li>
                  <li><a href="/performance/terminalliters">Terminal Liters per truckmove</a></li>
                </ul>
              </li>            
              <li class="{{active}} dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list-alt"></i> Forms <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {{#each form}}
                    <li><a href="/forms/{{this.id}}">{{this.label}}</a></li>
                  {{/each}}
                </ul>
              </li>
              <li class={{active}}><a href="{{pathFor 'profile'}}"><i class="fa fa-user"></i> Profile</a>
              {{#if isInRole 'Admin'}}
                <li class="{{active}} dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i> Admin<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{pathFor 'adminUser'}}">Users</a></li>
                    <li><a href="{{pathFor 'adminConfig'}}">Configuration</a></li>
                  </ul>
                </li>
              {{/if}}

            {{/if}}

            <li class="{{active}}"><a href="{{pathFor 'about'}}"><i class="fa fa-question"></i> About</a></li>
            <li class="{{active}}">{{loginButtons}}</li>
          </ul>

        </div><!-- /.nav-collapse -->    
      </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
  </div><!-- /.navbar -->
</template>