<!--
This template displays the verificating page. When the user did not completed
its account is need to fill in all additional information.
-->
<template name="verificating">
	<div class="verificatingPage wrapper">
    <div class="container">

		<!--
		If the user filled all its information he is pending for the verification.
		-->
		{{#if isPending}}

			<div class="hero-unit">
        <h1>Verification</h1>
        <p>Your account had been offered to the administrators for verification. Please be patient until this verification has been done.</p>
			</div>

		<!--
		If the user did not fill all its information he should do it before the account
		will be verified.
		-->
		{{else}}}

			<div class="hero-unit">
				<h1>Verification</h1>
        <p>Please fill in all the fields to be able to offer your account for verification to the administrators. As soon as all obligatory fields have been filled the account can be verified.</p>
        <p>Fields marked with a (*) are required.</p>
        
        <h3>User details</h3>
        
        <div class='control-group'>
          <label for='emailField' class='control-label'>Emailadres *</label>
          <div class='controls'>
            <input id="emailField" type="text" class="textfield"></input>
          </div>
        </div>
          
        <div class='control-group'>
          <label for='nameField' class='control-label'>Full name *</label>
          <div class='controls'>
            <input id="nameField" type="text" class="textfield">
          </div>
        </div>

        <div class='control-group'>
          <label class='control-label' for='roleField'>Role *</label>
          <div class='controls'>
            <select id='roleField' class="dropdown">
              <option value=""></option>
									{{#each role}}
										<option value="{{this.name}}">{{this.name}}</option>
									{{/each}}
            </select>
          </div>
        </div>

				<button class="btn btn-info btn-lg saveButton">Save</button>
				<button class="btn btn-danger btn-lg resetButton">Reset</button>

			</div>
        
		{{/if}}
        
    </div>
	</div>
</template>