<template name='moves'>
	<div class="wrapper moves">
        <div class="container">
            <header class="hero-unit">
                <h1>Moves</h1>

                <div class="chart">
                    {{{graph_1}}}
            	</div>
                <div class="chart">
            	   {{{graph_2}}}
            	</div>
                <div class="chart">
            	   {{{graph_3}}}
            	</div>
                <div class="chart">
            	   {{{graph_4}}}
            	</div>
                <div class="chart">
            	   {{{graph_5}}}
            	</div>
                <div class="chart">
            	   {{{graph_6}}}
                </div>

            </header>
        </div>
    </div>
</template>