<template name="navigationbar">
  <!-- Navigation bar specifics -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{pathFor 'homePage'}}"><img src="/ctt-transparant.png"/></a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="{{active}}"><a href="{{pathFor 'homePage'}}"><i class="icon-home icon-black"></i> Home</a></li>
            {{#if currentUser}}
            <li class="{{active}} dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Performance <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Moves per manhour</a></li>
                <li><a href="#">KwH Factor</a></li>
                <li><a href="#">Synchromodal Factor</a></li>
                <li><a href="#">Diesel Factor</a></li>
                <li><a href="#">Kg Co2_eq per move</a></li>
                <li><a href="#">Kg Co2_eq Terminal operation</a></li>
                <li><a href="#">KwH per Move</a></li>
                <li><a href="#">Terminal Liters per truckmove</a></li>
              </ul>
            </li>
            <li class="{{active}}"><a href="#">Revenues</a></li>
            <li class="{{active}}"><a href="{{pathFor 'moves'}}">Moves</a></li>
            <li class="{{active}}"><a href="{{pathFor 'formsList'}}">Forms</a></li>
            {{/if}}
            <li class="{{active}}"><a href="{{pathFor 'about'}}">About</a></li>
           	{{#if isInRole 'Default'}}
            <li class={{active}}><a href="{{pathFor 'profilePage'}}">Profile</a>
			      {{/if}}
            {{#if isInRole 'Admin'}}
            <li class="{{active}}"><a href="{{pathFor 'profilePage'}}">Profile</a>
            <li class="{{active}}"><a href="{{pathFor 'adminPage'}}">Admin</a>
			      {{/if}}
          </ul>
          <ul class="nav pull-right">
            <li class="{{active}}">{{loginButtons}}</li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
  </div><!-- /.navbar -->
</template>