<!--
This template displays the verificating page. When the user did not completed
its account is need to fill in all additional information.
-->
<template name="verificatingPage">
	<div class="verificatingPage wrapper">
    <div class="container">

		<!--
		If the user filled all its information he is pending for the verification.
		-->
		{{#if isPending}}

			<div class="well well-large">
				<legend>Verification</legend>
				Your account had been offered to the administrators for verification.</br>
				Please be patient until this verification has been done.
			</div>

		<!--
		If the user did not fill all its information he should do it before the account
		will be verified.
		-->
		{{else}}}

			<div class="well well-large">
				<legend>User Account</legend>
        Please fill in all the fields to be able to offer your account</br>
				for verification to the administrators.</br>
				As soon as all obligatory fields have been filled the account can be verified.</br>
				Fields marked with a (*) are obligatory.

				<table class="verificatingTable" id="personalTable">
					<thead>
						<tr>
							<th colspan="2" class="heading">User details</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="title">Emailadres *</td>
							<td class="field"><input id="emailField" type="text" class="textfield"></input></td>
						</tr>
						<tr>
							<td class="title">Full name *</td>
							<td class="field"><input id="nameField" type="text" class="textfield"></input></td>
						</tr>
						<tr>
							<td class="title">Role *</td>
							<td class="field">
								<select id="roleField" class="dropdown">
									<option value=""></option>
									{{#each role}}
										<option value="{{this.name}}">{{this.name}}</option>
									{{/each}}
								</select>
							</td>
						</tr>
					</tbody>
				</table>

				<button class="btn btn-default btn-xs saveButton">Save</button>
				<button class="btn btn-default btn-xs resetButton">Reset</button>

			</div>
		{{/if}}
    </div>
	</div>
</template>