/* CSS declarations go here */

/*
 * Verificating Page
 */
.verificatingPage {}
.verificatingPage .verificatingTable {
  margin-bottom:15px;
  margin-top:15px;
}
.verificatingPage .verificatingTable .heading {
  text-align:left;
}
.verificatingPage .verificatingTable .title {
  width:150px;
}
.verificatingPage .verificatingTable .field {
  width:200px;
}
.verificatingPage .verificatingTable .textfield {
  width:190px;
}
.verificatingPage .verificatingTable .dropdown {
  width:200px;
}

/*
 * Admin Page
 */
.adminUser {}
.adminUser .table {
  width:100%;
  height:100%;
}
.adminUser .table .row {
  width:100%;
  min-height:1px;
  height:auto;
  margin:0;
}
.adminUser .table .row .cell {
  float:left;
  margin:0;
  padding:0;
  width:16%;      /* 100% defided by amount of cells */
}
.adminUser .table .row.body {
  border-bottom:solid 1px;
  border-top:solid 1px;
  border-color:#dddddd;
  padding-top:5px;
  padding-bottom:5px;
}

/*
 * Profile Page
 */
.profilePage {}
.profilePage .profileTable {
  margin-bottom:15px;
  margin-top:15px;
}
.profilePage .profileTable .heading {
  text-align:left;
}
.profilePage .profileTable .title {
  width:150px;
}
.profilePage .profileTable .field {
  width:200px;
}

/*
 * Forms List Page
 */
.formsList {}
.formsList .table {
  width:100%;
  height:100%;
}
.formsList .table .row {
  width:100%;
  min-height:1px;
  height:auto;
  margin:0;
}
.formsList .table .row .cell {
  float:left;
  margin:0;
  padding:0;
  width:20%;      /* 100% defided by amount of cells */
}
.formsList .table .row.body {
  border-bottom:solid 1px;
  border-top:solid 1px;
  border-color:#dddddd;
  padding-top:5px;
  padding-bottom:5px;
}
.formsList .table .row .cell .status.incomplete {
  width:150px;
  max-width:100%;
  height:100%;
  background-color:red;
}
.formsList .table .row .cell .status.complete {
  width:150px;
  max-width:100%;
  height:100%;
  background-color:green;
}

.singleGraph .chartContainer {
  width:100%;
  height:400px;
  margin:0 auto;
}