<!--
This template displays the admin panel where the admin can
edit the accounts of all users.
-->
<template name="adminUser">
	<div class="wrapper adminUser">
    <div class="container">
      
		<!--
		Create the Remove Modal.
		-->
		<div id="removeDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
			<div class="modal-header">
				<a href="#" class="close removeCancelButton" data-dismiss="modal">&times;</a>
				<h4>Delete</h4>
			</div>
			<div class="modal-body">
				<div class="divDialogElements">
					Are you sure you want to remove this user?
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn removeCancelButton">Cancel</a>
				<a href="#" class="btn btn-primary removeOkButton">OK</a>
			</div>
		</div>

		<!--
		Create the page itself.
		-->
		<div class="well well-large">
			<legend>Users</legend>

			<div class="table">
			    <div class="row header">
			       	<div class="cell"><span>Emailadres</span></div>
			       	<div class="cell"><span>Full Name</span></div>
			       	<div class="cell"><span>Password</span></div>
			       	<div class="cell"><span>Role</span></div>
			       	<div class="cell"><span>Verified</span></div>
			       	<div class="cell"></div>
			    </div>
			    <div class="row input">
			       	<div class="cell"><input id="emailField" type="text" class="textfield" disabled></div>
			       	<div class="cell"><input id="nameField" type="text" class="textfield"></div>
			       	<div class="cell"><input id="passwordField" type="text" class="textfield"></div>
			       	<div class="cell">
			       		<select id="roleField" class="dropdown">
							<option value=""></option>
								{{#each role}}
									<option value="{{this.name}}">{{this.name}}</option>
								{{/each}}
						</select>
					</div>
			       	<div class="cell">
			       		<select id="verifiedField" class="dropdown">
							<option value=""></option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>
						</select>
					</div>
					<div class="cell">
						<button class="btn btn-default btn-xs saveButton">Save</button>
						<button class="btn btn-default btn-xs cancelButton">Cancel</button>
					</div>
			    </div>

			    {{#each user}}
			    	<div class="row body">
			       		<div class="cell"><span>{{getAddress this}}</span></div>
				       	<div class="cell"><span>{{getName this}}</span></div>
				       	<div class="cell"><span>&nbsp;</span></div>
				       	<div class="cell"><span>{{this.roles}}</span></div>
				       	<div class="cell"><span>{{getVerified this}}</span></div>
				       	<div class="cell">
				       		<button class="btn btn-default btn-xs editButton"><i class="icon-edit"></i></button>
							<button data-toggle="modal" href="#removeDialog" class="btn btn-default btn-xs removeButton"><i class="icon-remove"></i></button>
				       	</div>
			    	</div>
				{{/each}}
			</div>

		</div>
  </div>
	</div>
</template>