<!--
This is the layout template which will be displayed instead of the <body></body> tags.
If you want to select another layout template change it inside the router.js file.
-->
<template name="layout_deprecated">
	<div class="container">
		<!--
		The navigation bar on top of the page.
		-->
		{{>header}}

		<!--
		The error handler below the navigation bar.
		-->
		{{>errors}}

		<!--
		The main view of the page. 
		Here we display the selected page from the navigation bar.
		This selected page will be handled and rendered by the router.js.
		-->
		<div id="main" class="row-fluid">
			{{yield}}
		</div>
	</div>
</template>
