<template name="profilePage">
	<div class="wrapper profilePage">
    <div class="container">

		<div class="well well-large">
			<legend>Profiel</legend>

			<table class="profileTable" id="profile">
				<thead>
					<tr>
						<th colspan="2" class="heading">Persoonlijke gegevens</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="title">Email adres</td>
						<td class="field">{{email}}</td>
					</tr>
					<tr>
						<td class="title">Volledige naam</td>
						<td class="field">{{fullname}}</td>
					</tr>
					<tr>
						<td class="title">Taak</td>
						<td class="field">{{role}}</td>
					</tr>
				</tbody>
			</table>

		</div>
    </div>
	</div>
</template>