<template name="profilePage">
	<div class="wrapper profilePage">
    <div class="container">

		<div class="well well-large">
			<legend>Profile</legend>

			<table class="profileTable" id="profile">
				<thead>
					<tr>
						<th colspan="2" class="heading">User Account</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="title">Emailadres</td>
						<td class="field">{{email}}</td>
					</tr>
					<tr>
						<td class="title">Full name</td>
						<td class="field">{{fullname}}</td>
					</tr>
					<tr>
						<td class="title">Role</td>
						<td class="field">{{role}}</td>
					</tr>
				</tbody>
			</table>

		</div>
    </div>
	</div>
</template>