<template name="profile">
	<div class="wrapper profilePage">
    <div class="container">    
      <div class="hero-unit">
        <h1>User details</h1>
        <table class="profileTable" id="profile">
			    <tbody>
					    <tr>
                <td class="title" style="">Emailadres:</td>
						    <td class="field" style="font-size:70%">{{email}}</td>
					    </tr>
					    <tr>
                <td class="title">Full name:</td>
						    <td class="field" style="font-size:70%">{{fullname}}</td>
					    </tr>
					    <tr>
                <td class="title">Role:</td>
						    <td class="field" style="font-size:70%">{{role}}</td>
					    </tr>
				    </tbody>
			    </table>
		  </div>
    </div>
	</div>
</template>